body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background: url('/static/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    color: #333;
    border-left: 4px solid #4CAF50;
    border-radius: 5px;
}
